.vscode/**
.github/**
.vscode-test/**
out/**/*.map
out/test/**
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
eval.gif
.envrc
.direnv
.markdownlint.yaml
.node-version
.prettierignore
cspell.config.yaml
dprint.json
eslint.config.mjs
eslint-results.sarif
Makefile
DEVELOPMENT.md
CHANGELOG.md
