name: Publish Release

on:
  push:
    tags:
      - "*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Extract version from tag
        id: version
        run: |
          # the GITHUB_REF_NAME is the tag name, e.g. v1.0.0
          VERSION=${GITHUB_REF_NAME:1} # remove the v prefix
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Extracted version: $VERSION"

      - name: Check that package.json is up-to-date
        run: |
          VERSION_FROM_PACKAGE_JSON=$(jq -r '.version' package.json)

          if [ "$VERSION_FROM_PACKAGE_JSON" = "${{ steps.version.outputs.version }}" ]; then
            echo "The versions match, proceeding to publish."
          else
            echo "Please update the version in package.json to match the tag."
            exit 1
          fi

      - name: Check that version is documented in CHANGELOG.md
        run: |
          if grep -q "^## ${{ steps.version.outputs.version }}$" CHANGELOG.md; then
            echo "Version ${{ steps.version.outputs.version }} found in CHANGELOG.md"
          else
            echo "Please add version ${{ steps.version.outputs.version }} to CHANGELOG.md"
            exit 1
          fi

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.12.0"

      - name: Install dependencies
        run: npm install

      - name: Install vsce
        run: npm install -g vsce

      - name: Publish to marketplace
        run: |
          vsce publish \
            --no-update-package-json \
            --no-git-tag-version \
            -p ${{ secrets.VSCODE_MARKETPLACE_TOKEN }} \
            ${{ steps.version.outputs.version }}
